// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hattalk-form {
  margin: 0 auto;
  width: 70%;
  border-radius: 12px;
}

.sign-up-header {
  width: 70%;
  margin: 0 auto;
  h1 {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

.upcoming-talks {
  width: 70%;
  margin: 0 auto;
  h1 {
    text-align: left;
  }
  i {
    font-size: 16px;
    margin: 7px;
    color: #017BFE;
  }
  li {
    font-size: 18px;
    color: rgba(85, 84, 89, 0.9);
    font-family: 'Source Sans Pro', sans-serif;
  }
  &:hover {
    color: rgba(85, 84, 89, 0.6);
  }
}

.past-talks {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
  h1 {
    text-align: left;
  }
  li {
    font-size: 18px;
    color: rgba(85, 84, 89, 0.9);
    font-family: 'Source Sans Pro', sans-serif;
  }
  i {
    margin-left: 10px;
  }
}




