<form action="/talks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="talk[name]" id="name">

  <label for="topic">Topic: </label>
  <input type="text" name="talk[topic]" id="topic">

  <label for="topic">Date: </label>
  <input type="text" name="talk[date]" id="date">

  <input type="submit">
</form>
